<div class="home">
  <h1>
    Manual de uso
  </h1>
  <ol>
    <li>
      <p>
        Registrar una nueva cuenta (si ya posee una cuenta saltear al paso 2)
        utilizando el botón <strong>REGISTRARSE</strong> en la esquina superior
        derecha de la pantalla. Una vez registrada la cuenta lo redireccionará a
        pantalla de inicio de sesión.
      </p>
    </li>
    <li>
      <p>
        Iniciar sesión con una cuenta creada utilizando el botón
        <strong>INICIAR SESIÓN</strong> en la esquina superior derecha de la
        pantalla, a la izquierda del botón <strong>REGISTRARSE</strong>.
      </p>
    </li>
    <li>
      <p>
        Una vez iniciada la sesión, se habilitará el botón
        <strong>BUSCAR</strong> en la esquina superior izquierda de la pantalla,
        a la derecha del botón <strong>INICIO</strong>.
      </p>
    </li>
    <li>
      <p>
        Dentro de la pantalla de busqueda podrá ingresar el DNI y la
        nacionalidad de la persona a buscar.
      </p>
    </li>
  </ol>
</div>
